@using SecuredWebApp.Data.Providers
@{
    ViewBag.Release = System.Configuration.ConfigurationManager.AppSettings["release"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=deviss-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
</head>
<body>
    <!-- client side alert -->
    <div id="postback-alert" class="alert-container"></div>

    <!-- wait animation div -->
    <div id="waitAnimation"><i class="fa fa-spinner fa-pulse"></i></div>

    <div class="container">
        @Html.Partial("_MenuViewPartial")

        <div class="app-page-container">
            @RenderBody()
            @Html.Partial("_FooterPartial")
        </div>
    </div>

    @*<span id="top-link-block" class="hidden">
        <a class="well well-sm" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
            <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
        </a>
    </span>*@

    <!-- server side alert -->
    @Html.Partial("_Alerts")

    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)

    @if (IsSectionDefined("CustomFormStyle"))
    {
        @RenderSection("CustomFormStyle");
    }


    <script type="text/javascript">
        $(document).ready(function () {
            AppWeb.Helpers.setupBackToTop();
            if ($('.actionBar').length == 0) {
                $('.app-page-container').css('top', '100px');
            }
        });
    </script>
</body>
</html>